*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

header{
    /* background-color: #2c3e50; */
    background-color: rgba(44, 62, 80, 0.6);
    backdrop-filter: blur(4px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo h1{
    font-size: 1.8rem;
    display: flex;
    flex-wrap: wrap;
}

.logo span{ 
    color: #3498db;
}

nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

nav li{
    margin-right: 20px;
}

nav a{
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.5s ease;
}

nav a:hover{
    color: #3498db;
}

section{
    padding: 80px 0;
}

.section-title{
    color: #2c3e50;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

#hero{
    background: linear-gradient(rgba(44, 62, 80, 0.7), rgba(44, 62, 80, 0.7)), url(new-york-city-dark-cityscape-at-night-best-desktop-wallpapers-of-2025-collection-for-mac-and-pc-4k-6k-15-03-2025-1742079631-hd-wallpaper.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
}

.hero-content h2{
    font-size: 2.5rem;
    margin: 20px;
}

.hero-content p{
    font-size: 1.5rem;
    margin: 10px;
}

.hero-content .event-date{
    font-size: 1.2rem;
    margin: 30px;
}

.btn{
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.5s ease;
}

.btn:hover{
    background-color: #2980b9;
}

.about-content{
    display: flex;
    flex-wrap: wrap;
}

.about-text{
    flex: 1;
    min-width: 300px;
    margin-right: 40px;
}

.about-text p{
    margin-bottom: 20px;
    font-size: 1.1rem;

}

.event-details{
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.detail{
    background: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
}

.detail h3{
    color: #3498db;
    margin-bottom: 10px;
}

#scheduel{
    background-color: #f9f9f9;
}

.day{
    margin-bottom: 40px;
}


.day h3{
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #2c3e50;
}

.scheduel-table{
    width: 100%;
    border-collapse: collapse;
}

.scheduel-table th{
    background-color: #3498db;
    color: #fff;

}

.scheduel-table td, .scheduel-table th{
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.scheduel-table tr:nth-child(even){
    background-color: #f2f2f2;

}

.scheduel-table tr:hover{
    background-color: #e9e9e9;
}

.form-container{
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    padding: 30px;
    margin: 0 auto;
    border-radius: 10px;
}

.form-group{
    margin-bottom: 20px;
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select,
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
}

select{
    height: 45px;
}

.checkbox-group label{
    font-weight: normal;
    display: inline;
    margin-left: 5px;   
}

.checkbox-group{
    margin-bottom: 10px;
}

button[type="submit"]{
    width: 100%;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

footer{ 
    background-color: #2c3e50;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 20px 0;
    width: 100%;   
    font-size: 0.8rem; 
}

.footer-content{
    display: flex;
    margin-bottom: 30px;
    flex-wrap: wrap;
}


.footer-logo, .footer-links, .footer-contact{
    flex: 1;
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-logo h3{
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.footer-logo span{
    color: #3498db;
}

.footer-links h4, .footer-contact h4{
    color: #3498db;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.footer-links ul{
    list-style: none;
}

.footer-links li{
    margin-bottom: 10px;
}

.footer-links li a{
    color: #fff;
    text-decoration: none;
    transition: color 0.5s ease;
}

.footer-links li a:hover{
    color: #3498db;
    
}

.social-icons{
    margin-top: 15px;
    
}

.social-icon{
    display: inline-block;
    width: 35px;
    height: 35px;
    color: #2c3e50;
    background-color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin-right: 10px;
    transition: background-color 0.5s ease;
}

.social-icon:hover{
    color: #fff;
    background-color: #3498db;
}

.footer-bottom{
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
    padding-bottom: 10px;
}


/* media queries */

/* for tablets  */
@media (max-width:768px){
    /* header */

    header{
        padding: 10px;
    }
    header .container{
        flex-direction: column;
    }
    header .logo{
        margin-bottom: 8px;
    }

    header nav ul{
        flex-direction: column;
        text-align: center;
    }
    header nav li{
        margin-bottom: 10px;
    }

    /* hero */
    #hero{
        padding-top: 300px;
        height: 130vh;
    }
    .hero-content h2{
    font-size: 2rem;
    }

    .hero-content p{
    font-size: 1.2rem;
    }

    /* about */
    .about-text {
    margin-right: 0;
    margin-bottom: 30px;
    }

    /* scheduel */
    .scheduel-table{
        font-size: 0.9rem;
    }

    .scheduel-table th, .scheduel-table td{
        padding: 9px;
    }

    /* footer */
    .footer-content{
        flex-direction: column;
        margin-bottom: 10px;
    }
    footer{
        align-items: center;
    }
    .footer-logo, .footer-links, .footer-contact{
        margin-bottom: 30px;
        align-items: center;
        text-align: center;
    }
}

/* for mobile screens */
@media (max-width:480px) {

    .section-title{
        font-size: 2rem;
    }

    .hero-content h2{
        font-size: 1.8rem;
    }

    /* scheduel */
    .day h3{
        font-size: 1.5rem;
    }

    .scheduel-table{
        font-size: 0.8rem;
    }

    .scheduel-table th, .scheduel-table td{
        padding: 6px;
    }
}